<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483795942512-f7essseo2tisf33n9ucfe8t91phbk37d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483795942512-f7essseo2tisf33n9ucfe8t91phbk37d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>483795942512-ai8lu09rmhpuov5rt61v5hqs3g2lvv1v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ9A4bCxpdYuPU67b31anX5qkYt1o-UmE</string>
	<key>GCM_SENDER_ID</key>
	<string>483795942512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luziadevelopers.luzia</string>
	<key>PROJECT_ID</key>
	<string>luzia-c3222</string>
	<key>STORAGE_BUCKET</key>
	<string>luzia-c3222.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:483795942512:ios:bebfeea5014bd6566ac8b5</string>
	<key>DATABASE_URL</key>
	<string>https://luzia-c3222.firebaseio.com</string>
</dict>
</plist>
